venv
/venv/
/__pycache__/
/*__pycache__/
__pycache__/
env/
.env
*.pyc
.DS_Store
media
staticfiles
db.sqlite3
*.log
.idea
.vscode
*.sqlite3
*.env
celerybeat-schedule
instance
.pytest_cache
.coverage
htmlcov
.tox
dist
build
*.egg-info
npm-debug.log